* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Rubik", sans-serif;
  line-height: 1;
  font-weight: 400;
  color: #fff;
  background-color: #122117;
}

a {
  color: #fff;
  text-decoration: none;
}

a:link,
a:visited {
  color: #fff;
}
a:hover,
a:active {
  color: #96c4a8;
}

.fa-solid {
  color: #fff;
  font-size: 1.6rem;
}
.secondary-headings {
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.5;
}
.grid {
  display: grid;
}
@media (min-width: 768px) and (max-width: 1023px) {
}

@media (min-width: 1024px) {
}
